/* Colors */

$gray-light: #f1f2f2;
$gray-dark: #71787f;
$black: #323C46;
$pink: #ffc1c1;
$blue: #85b1f9;
$yellow: #fff48e;
$orange: #ee6956;
$green: #c3f3e2;
$snow: #d9eaff;

$white: #fff;
$dark: #212121;

$main-offset: 10px;




 
